*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 30px auto;
}

header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

header h1 {
    font-weight: 300;
    margin-left: 10px;
}


#input-field {
    outline: none;
}

#input-field {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    
}

#filter {
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;

}

#clear {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: #333;
    background-color: transparent;
    cursor: pointer;

}

.items{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.items li {
    display: flex;
    justify-content: space-between;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0 5px 20px;
    padding: 10px 15px;
    font-weight: 700;
}

.remove-item {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 2px 3px;
    border-radius: 5px;
}

.text-red {
    color: red;
}

.fa-xmark {
    cursor: pointer;
}