*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 30px auto;
}

#input-field {
    outline: none;
}

#filter {
    outline: none;
}